<div class='course-card'
     [class.beginner]='isBeginnerCourse'
>

  <div class='course-title'>
    {{ course.description }}
  </div>

  <ng-content
    select='course-image'
    *ngIf='course.iconUrl; else noImage'
  />

  <ng-template #noImage>
    <ng-container *ngTemplateOutput = 'noImageTpl'>
    </ng-container>
  </ng-template>

  <ng-content select='.course-description' />

  <ng-content />

  <!--  @if(course.iconUrl){
    <img #couseImage  width="300" alt="Angular Logo" [src]="course.iconUrl" >
    } @else {
      <h1>No image</h1>
    }-->

  <div class='course-category'>
    @switch (course.category) {
      @case ("BEGINNER") {
        <ng-container>
          <div class='category'>Beginner</div>
        </ng-container>
      }
      @case ("INTERMEDIATE") {
        <div class='category'>Intermediate</div>
      }
      @case ("ADVANCED") {
        <div class='category'>Advanced</div>
      }
      @default {
        <div class='category'>Unkonwn</div>
      }
    }

  </div>

  <button (click)='onCourseViewed()'>View Course</button>
</div>
