<div class='top-menu'>
  <img class='logo'
       src='https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png'>
</div>

<button (click)='onCourseEdit()' >TEST</button>

<div class='courses' #container >

  <div class='demo'>
    <div>StartDate: {{startDate | date:'MM/dd/yyyy'}}</div>
  </div>

  <div *ngFor=' let pair of course | keyvalue' >
    {{pair.key}}

  </div>

  <course-card
    #cardRef1
    (courseSelected2)='courseSelected($event) '
               [course]='courses[0]'
               [index]='0' />

  <course-card
    #cardRef2
    (courseSelected2)='courseSelected($event)'
               [course]='courses[1]'
               [index]='1' />

  @for (course of courses; let last = $last; let first = $last; track trackCourse; let index = $index; let count = $count) {
    <p>{{ count }}</p>
    <course-card (courseSelected2)='courseSelected($event)'
                 [course]='course'
                 [index]='index'
                 [class.is-first]='first'
                 [class.is-last]='last'
    />
  } @empty {
    <h1>No elements found</h1>
  }
</div>




