<div class='top-menu'>
  <img class='logo' src='https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png'>
</div>

<div class='courses' *ngIf='courses[0] as course'>
  <ng-template #blankImage let-courseName="description">
    <p class="warn">{{courseName}} has no image yet.</p>
    <img src="/assets/empty-image.png">
  </ng-template>

  <course-card
    (courseSelected2)='courseSelected($event)'
    [course]='course'
    [index]='0'
    [noImageTpl]='blankImage'
  >
    <course-image [src]='course.iconUrl'></course-image>

    <div class='course-description'>
      {{ course.longDescription }}
    </div>
  </course-card>
</div>


<!--<div class='courses' *ngIf='courses[0] as course'>
  <course-card
    (courseSelected2)='courseSelected($event) '
    [course]='course'
    [index]='0'
  >
    <course-image [src]='course.iconUrl' />
    <course-image [src]='courses[1].iconUrl' />
    <course-image [src]='courses[2].iconUrl' />

    <div class='course-description'>
      {{ index }} {{ course.longDescription }}
    </div>

    Edit Description <textarea></textarea>

  </course-card>
</div>

<button (click)='onCourseEdit()'>TEST</button>

<div class='courses' #container>

  <div class='demo'>
    <div>StartDate: {{ startDate | date:'MM/dd/yyyy' }}</div>
  </div>

  <div *ngFor=' let pair of course | keyvalue'>
    {{ pair.key }}
  </div>


  @for (course of courses; let last = $last; let first = $last; track trackCourse; let index = $index; let count = $count) {
    <p>{{ count }}</p>
    <course-card (courseSelected2)='courseSelected($event)'
                 [course]='course'
                 [index]='index'
                 [class.is-first]='first'
                 [class.is-last]='last'
    />
  } @empty {
    <h1>No elements found</h1>
  }
</div>-->




